@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,300&display=swap');



header {
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    top: 0;
    position: fixed;
}

header #logo {
    cursor: pointer;
    color: #000;
    text-align: center;
}

header #logo span {
    font-size: 70px;
}

.sublogo {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

#about {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    text-transform: uppercase;
    
}
#about a:not(:last-child) {
    margin-right: 7%;
}

#about a:hover {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    cursor: pointer;
}
/* /////////////////////////////////////HUMBURGER MENU//////////////////////////// */
.menu {
    display: flex;
}

.open {
    display: flex !important;
}
.humburger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    margin-top: 50px;
}

.humburger::before, .humburger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    transition: all 0.3s ease 0s;
}

.humburger::before {
    top: 0;
}

.humburger::after {
    bottom: 0;
}

.humburger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #000;
}
.humburger.active span {
    transform: scale(0);
}

.humburger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.humburger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}
@media screen and (max-width: 701px) {
    #logo {
        width: 100%;
        margin-top: 15px;
        font-size: 10px;
    }
    #about {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
        overflow-y:auto;
        opacity: 0.9;
        padding: 100px 40px;
        background-color: aliceblue;
    }
    #about a {
        flex-direction: column;
        row-gap: 50px;
        font-size: 30px;
        justify-content: center;
        padding: 30px;
        margin: 10px;
        text-align: center;
    }
    .humburger {
        display: flex;
        float: left;
    }
}
/* //////////////////////////////////////////////////////////////////////////////// */
.fixed {
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid silver;
}

@media screen and (min-width: 320px) {
    #logo {
        width: 100%;
        font-size: 10px;
    }
    .sublogo {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    #logo {
        width: 100%;
        margin-top: 15px;
        font-size: 10px;
    }
}

@media screen and (min-width: 701px) {
    #logo {
        width: 100%;
        font-size: 10px;
    }
    .sublogo {
        font-size: 20px;
    }

    #about {
        width: 100%;
    }
}


/* ////////////////////////////////////////////////////////SLIDER////////////////////////////////////// */
.slider__sale {
    margin: 0 auto;
}

@media screen and (max-width: 458px) {
    #sale p {
        font-size: 15px;
        padding: 10px 0;
    }
    #sale h1 {
        font-size: 25px;
    }
    header #logo span {
        font-size: 55px;
    }

}
@media screen and (max-width: 768px) {
    #sale p {
        font-size: 25px;
        padding: 10px 0;
    }
    #sale h1 {
        font-size: 35px;
    }
    header #logo span {
        font-size: 50px;
    }
}
@media screen and (max-width: 415px) {
    #sale p {
        font-size: 20px;
    }
    #sale h1 {
        font-size: 35px;
    }
    header #logo span {
        font-size: 50px;
    }
    .button {
        padding: 35px 0;
    }
}
/* ///////////////////////////////////////////////LASER//////////////////////////////////////////////////////////// */

#top {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: aliceblue;
}

.intro h2 {
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
}

.descr {
    text-align: left;
    display: grid;
    margin: 0 auto;
    max-width: 500px;
    padding: 0 20px;
}
.adaptive h2 {
    font-size: 25px;
    font-weight: 700;
}
.descr p {
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
}
.descr p strong {
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    #top h2 {
        font-size: 20px;
    }
    .descr p {
        font-size: 20px;
    }
    
}
/* //////////////////////////////////////////////////services////////////////////////////////////// */
#services {
    padding: 50px 0;
}

#services ._title {
    text-align: center;
    font-size: 5px;
}

#services .sub__title {
    padding-top: 70px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.card {
    padding: 100px 0;
}

.card__carbone {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.card__carbone img {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .card__carbone {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .card__carbone img {
        width: 250px;
    }
}

.card__details {
    font-size: 20px;
    padding: 10px;
}
.card__item {
    box-shadow: 10px 5px 5px #e9e9e9;
    margin: 0 auto;
    border-radius: 50px;
    background-color: aliceblue;
}
.card__item img {
    border-radius: 50%;
}
.card__price {
    font-size: 22px;
    align-items: center;
    text-align: center;
    color: gray;
}
.card__body {
    text-align: center;
    align-items: center;
    width: 250px;
    height: 200px;
}

.services__container {
    padding: 40px 0;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.card__title {
    padding: 15px 10px;
    font-size: 20px;
    font-weight: 400;
    font-style: bold;
    text-transform: uppercase;
}

.card__item img {
    width: 250px;
    height: 250px;
}


.card__text {
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .services__container {
        max-width: 90%;
        grid-template-columns: 1fr;
        margin: auto;
    }
}
/* ////////////////////////////////////////////////////////////////////////////// */
#price {
    text-align: center;
    padding-bottom: 30px;
    background-color: #87CEFA;
}
.price_title {
    font-size: 20px;
    padding: 30px;
    text-transform: uppercase;
}
.price-table {
    background-color: #fff;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    color: #000;
    text-transform: uppercase;
    box-shadow: #e9e9e9;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 #e9e9e9;
}
.price-price {
    font-size: 30px;
}
th {
    padding: 15px;
    font-size: 25px;
}
td {
    padding: 15px;
    font-size: 25px;
}
.combo-price {
    padding: 100px 0;
}
.combo-title {
    padding: 20px 0;
}
.combo-title-service {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 19px;
}
.combo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.combo-item {
    margin: auto;
    text-align: center;
    background-color: #fff;
    width: 200px;
    height: 260px;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 #fff;
}

.combo-item-last {
    margin: auto;
    text-align: center;
    background-color: #fff;
    width: 200px;
    min-height: 260px;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 #fff;
}
.combo-item span {
    color: red;
}
.sub-sale {
    font-size: 20px;
}

.combo-item .red {
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-size: 20px;
}
.combo-item-last .red {
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-size: 20px;
}
.acne {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.combo-sale-service-p {
    font-size: 20px;
    font-weight: 700;
}
.combo-item .blue {
    font-family: 'Montserrat', sans-serif;
    font-style: 20px;
    color: #2980B9;
    padding: 5px;
}
.combo-item h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat' sans-serif;
}
.combo-sale {
    padding-top: 10px;
}
.combo-sale-service {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    vertical-align: bottom;
    display: flex;
    height: 150px;
    flex-direction: column;
    flex-grow: 1;
}
.combo-sale-service p {
    margin-top: auto;
}
@media screen and (max-width: 768px) {
    th {
        font-size: 15px;
    }
    td {
        font-size: 15px;
    }
    .price-table {
        border-spacing: 2px;
    }
    .combo-container {
        max-width: 90%;
        grid-template-columns: 1fr;
        margin: auto;
    }
    #price {
        width: 100%;
    }
}
/* ///////////////////////////////PRICE////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#advantages {
    text-align: center;
    padding: 30px 0;
}

.advantage_title  {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
}
.body__advantage p {
    font-size: 20px;
}

.advantage-subtitle {
    font-size: 25px;
}
@media screen and (max-width: 768px) {
    #advantages {
        padding-left: 10px;
    }
    .advantage_title {
        font-size: 35px;
    }
    .descr h2 {
        font-size: 25px;
    }

    .adaptive {
        max-width: 300px;
    }
    .advantage-subtitle {
        font-size: 20px;
    }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.clients {
    text-align: center;
    background-color: #fff;
}
.feedback__card h2 {
    padding: 30px 0;
    font-size: 45;
    text-transform: uppercase;
}

.feedback__title {
    display: flex;
    text-align: left;
    justify-content: center;
    padding-bottom: 20px;
}

.feedback__card h2 {
    font-weight: 700;
    font-size: 35px;
}

.feedback__title p {
    padding: 10px 20px;
    max-width: 350px;
    font-size: 20px;
    text-transform: uppercase;
}

.feedback__title strong {
    font-size: 25px;
    text-transform: uppercase;
}
.clients ul {
    margin: 0 auto;
    padding: 10px 0;
}

.clients ul li {
    font-size: 25px;
    margin: 20px 0;
    text-transform: uppercase;
    /* text-align: left; */
}
@media screen and (max-width: 768px) {
    .clients ul li {
        text-align: left;
        font-size: 20px;
        padding: 0 20px;
    }
}

/* /////////////////////////////////////MASTER////////////////// */
#master {
    padding-top: 250px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.master-name strong {
    font-size: 35px;
}

.master-name p {
    color: #bebebe;
}

.master-bio {
    margin: 0 auto;
    text-align: center;
    padding: 15px 5px;
    max-width: 500px;
}

.master-bio p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 15px 0;
    font-style: italic;
}
.master__image img {
    width: 30%;
}
@media screen and (max-width:768px) {
    .master__image img {
        width: 50%;
    }
}
/* Лазерная машина */
.laser-machine {
    padding: 20px 0;
}
.laser-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.laser-descr {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 24px;
    padding: 30px 0;
    text-transform: uppercase;
    font-weight: 600;
}
.laser-subdescr {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}
.laser-subdescr span {
    font-size: 25px;
}
.laser-menu {
    text-align: left;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
}
.laser-menu h5 {
    font-size: 20px;
    font-weight: 700;
}
.laser-machine ul li {
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.laser-machine ul li span {
    color: red;
}
/* окончание */
/* //////////////////////////////////////////SERTIFICATE////////////// */
.sertificate {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-style: bold;
    background-color: aliceblue;
}
.sertificate h2 {
    font-size: 30px;
    font-weight: 700;
}
#slider_bl .wrapper {
    max-width:60em;
    margin:1em auto;
    position:relative;
}
#slider_bl input {
    display:none;
}
#slider_bl .inner{
    width:500%;
    line-height:0;
}
#slider_bl article{
    width:20%;
    float:left;
    position:relative
}
#slider_bl article img{
    width:100%;
}
#slider_bl .slider-prev-next-control{
    height:50px;
    position:absolute;
    top:50%;
    width:100%;
    transform:translateY(-50%);
    transform:translateY(-50%);
    transform:translateY(-50%);
    transform:translateY(-50%);
}#slider_bl .slider-prev-next-control label{
    display: none;
    width:40px;
    height:40px;
    border-radius:50px;
    background:#fff;
    opacity:.5;
    cursor: pointer;
}
#slider_bl .slider-prev-next-control label:hover{
    opacity:.5;
}
#slider_bl .slider-dot-control{
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
}
#slider_bl .slider-dot-control label{
    cursor:pointer;
    border-radius:5px;
    display:inline-block;
    width:10px;
    height:10px;
    background:#bbb;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
}
#slider_bl .slider-dot-control label:hover{
    background:#ccc;
    border-color:#777;
}
#slider_bl .info{
    position:absolute;
    font-style:italic;
    line-height:20px;
    opacity:0;
    color:#000;
    text-align:left;
    -webkit-transition:all 1s ease-out .6s;
    -moz-transition:all 1s ease-out .6s;
    transition:all 1s ease-out .6s;
}
#slider_bl .info h3{
    color:#fcfff4;
    margin:0 0 5px;
    font-weight:400;
    font-size:1.5em;
    font-style:normal;
}
#slider_bl .info.top-left{
    top:30px;
    left:30px;
}
#slider_bl .info.top-right{
    top:30px;
    right:30px;
}
#slider_bl .info.bottom-left{
    bottom:30px;
    left:30px;
}
#slider_bl .info.bottom-right{
    bottom:30px;
    right:30px;
}
#slider_bl .slider-wrapper{
    width:100%;
    overflow:hidden;
    border-radius:5px;
    box-shadow:1px 1px 4px #666;background:#fff;
    background:#fcfff4;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-transition:all .5s ease-out;
    -moz-transition:all .5s ease-out;
    transition:all .5s ease-out;
}
#slider_bl .slider-wrapper .inner{
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-transition:all .8s cubic-bezier(.77,0,.175,1);
    -moz-transition:all .8s cubic-bezier(.77,0,.175,1);
    transition:all .8s cubic-bezier(.77,0,.175,1);
}
#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after{
    font-style:normal;
    font-weight:400;
    text-decoration:inherit;
    margin:0;
    line-height:38px;
    font-size:3em;display:block;
    color:#777;
}
#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1)::after{
    content:"";
    padding-left:15px;
}
#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2),#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3),#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4),#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5),#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1){
    display:block;
    float:right;
    margin-right:5px;
}
#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5),#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1),#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2),#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3),#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4){
    display:block;
    float:left;
    margin-left:5px;
}
#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after{
    content:"";
    padding-left:8px;
}
#slider_bl #slide1:checked~.slider-dot-control label:nth-child(1),#slider_bl #slide2:checked~.slider-dot-control label:nth-child(2),#slider_bl #slide3:checked~.slider-dot-control label:nth-child(3),#slider_bl #slide4:checked~.slider-dot-control label:nth-child(4),#slider_bl #slide5:checked~.slider-dot-control label:nth-child(5){
    background:#333;
}
#slider_bl #slide1:checked~.slider-wrapper article:nth-child(1) .info,#slider_bl #slide2:checked~.slider-wrapper article:nth-child(2) .info,#slider_bl #slide3:checked~.slider-wrapper article:nth-child(3) .info,#slider_bl #slide4:checked~.slider-wrapper article:nth-child(4) .info,#slider_bl #slide5:checked~.slider-wrapper article:nth-child(5) .info{
    opacity:1;
}
#slider_bl #slide1:checked~.slider-wrapper .inner{
    margin-left:0;
}
#slider_bl #slide2:checked~.slider-wrapper .inner{
    margin-left:-100%;
}
#slider_bl #slide3:checked~.slider-wrapper .inner{
    margin-left:-200%;
}
#slider_bl #slide4:checked~.slider-wrapper .inner{
    margin-left:-300%;
}
#slider_bl #slide5:checked~.slider-wrapper .inner{
    margin-left:-400%;
}@media only screen and (max-width:850px) and (min-width:450px){
    #slider_bl .slider-wrapper{border-radius:0;
    }
}
@media only screen and (max-width:450px){
    #slider_bl .slider-wrapper{
        border-radius:0;
    }#slider_bl .slider-wrapper .info{
        opacity:0;
    }
}
@media only screen and (min-width:850px){
    #slider_bl body{padding:0 80px;
    }
}
/* ///////////////////////////////CONTACTS */
#contacts {
    width: 100%;
    /* padding-bottom: 30px;
    padding-top: 40px; */
    border-top: 4px solid #ccc;
    background-color: #e9e9e9;
    padding: 30px;
}

h1, h2, h3, h4, h5 {
    font-weight: lighter;
}

#contacts h5 {
    text-align: center;
    font-size: 48px;
    color: #505050;
}

#form_input {
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
}

#form_input span {
    color:red;
}

#form_input input {
    margin-bottom: 20px;
    width: 300px;
    padding: 10px 2%;
    border-radius: 7px;
    border: 2px solid silver;
    font-size: 20px;
    color: #000;
}

#form_input label {
    color: #505050;
    cursor: pointer;
    font-size: 25px;
}

.btn {
    border: none;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 30px;
    background-color: #ec6550;
    text-shadow: #454545 0 0 2px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #ec6590;
}
/* ///////////////////////////////////////////// */


/* Slideshow container */
.slideshow-container {
    padding-top: 40px;
    max-width: 300px;
    position: relative;
    margin: auto;
  }
  .slideshow-container h2 {
    padding: 20px 0;
    text-transform: uppercase;
    font-family: 'Motserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
  }
 
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.active-slide {
    background-color: #333;
}
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: .1s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
/* ////////////////////////////// */
.peeling {
    text-align: center;
}

.peeling-descr {
    padding: 0 20px;
    text-align: left;
    display: grid;
    margin: 0 auto;
    font-size: 20px;
    max-width: 500px;
}
.peeling__menu {
    text-align: left;
    padding: 10px;
}

.intro h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin: 30px 0;
    font-weight: 700;
}
.dropbtn {
    margin-top: auto;
    cursor: pointer;
    color: #fff;
    padding: 16px 20px;
    font-size: 16px;
    border: none;
    background-color: #3498DB;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    margin: 30px;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content h2 {
    font-size: 35px;
}

.show {
    display: block;
}

@media screen and (max-width: 768px) {
    .dropdown-content h2 {
        font-size: 25px;
    }
    .descr {
        font-size: 20px;
    }
    .dropdown-content {
        width: 100%;
    }
}

/* /////////FOOTER */

footer {
    padding-top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content span {
    padding-top: 20px;

}
.footer-content h3 {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
}
.footer-content p {
    font-size: 20px;
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0 40px 0;
}

.social li {
    margin: 0 10px;
}
.social a {
    color: #fff;
}
.social a i {
    font-size: 30px;
}
.footer-bottom {
    text-align: center;
    padding: 20px 0;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
}
@media screen and (max-width:768px) {

}
