*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', sans-serif;
    outline: none;
  }

  body, html {
    width: 100%;
    height: 100%;
  }

a {
    text-decoration: none;
    color: #000;
  }
  
li {
    list-style-type: none;
  }
